@font-face {

  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');

}

* {

  font-family: 'RobotoMono', monospace;

}

body {

  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(to right, #fe346e, #2c003e);

}